

<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>

<ul>
  <%= f.fields_for :ingredients do |t| %>
  <li>
      <%= t.label :name %>
      <%= t.text_field :name %><br>

      <%= t.label :quantity %>
      <%= t.text_field :quantity %><br>
  </li>
  <% end %>
  <%=link_to 'add ingredient', @recipe%>
</ul>

  <%= f.submit %>
<% end %>
